<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <h2>Log In</h2>
    <form>
      <div class="container">
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Ingrese su correo electrónico" id="email" name="email" #email required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Ingrese su contraseña" id="password" name="password" #password required>

        <div class="flex-wrap justify-content-between align-items-center">
          <button type="button" onclick="location.href='/register'">Sign Up</button>  
          <button type="submit">Login</button>
        </div>
      </div>
    </form>
  </body>
</html>